.img-2{
    width: 100%;
    height: 97vh;
    object-fit: cover;
    background-size:cover;
    background-image: url(https://images.pexels.com/photos/46710/pexels-photo-46710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.img-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97vh;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
    z-index: 1;
  }

  .img-2 .text {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    color: white;
  }